header       { display: block !important;}
body         { font-family: 'Fontin','Georgia', serif; font-size: 18px; color: #444; }
a            { color: #004B6B; }
a:hover      { color: #6D4100; }
.box         { width: 740px; margin: 30px auto; }
#content     { margin: 30px auto; }
h2, h3, h4   { font-family: 'Fontin', serif; font-weight: normal; color: #222;}
h1           { margin: 0 0 0 0; background: no-repeat center;}
h1 span      { display: none; }

.banner      { font-size: 75px; margin: 60px 0 0 0;
	      font-family: Ribeye Marrow;
	      text-align: center; }

.banner img  { margin-top: 20px; width: 80px; height: 80px; }
.banner a    { color: black; text-decoration: none; }
.banner a:hover { text-shadow: 1px 2px 3px #666; }

h2           { font-size: 30px; margin: 15px 0 5px 0; }
h3           { font-size: 24px; margin: 15px 0 5px 0; }
h4           { font-size: 19px; margin: 15px 0 5px 0; }
textarea, code, tt,
pre          { font-family: 'Consolas', monospace!important;
             color: #000; font-size: 0.9em; background: #eee; }
pre          { padding: 7px 30px; margin: 15px -30px; line-height: 1.3;
             border-style:solid; border-width:1px; border-color:#bbb;}

code, tt     {padding: 1px 4px 1px 4px; border-style:solid; border-width:1px; border-color:#bbb;}

.ig          { color: #888; }
p            { line-height: 1.4; }
ul           { margin: 15px 0 15px 0; padding: 15px; list-style: none; line-height: 1.4; }
ul li:before { content: "\00BB \0020"; color: #888; position: absolute; margin-left: -19px; }
ol           { line-height: 1.4; margin: 15px 0 15px 30px; padding: 15px; }
blockquote   { margin: 0; font-style: italic; color: #444; }
.footer      { font-size: 13px; color: #888; text-align: center; margin-top: 25px; }
.more        { text-decoration: none; margin-left: 10px;}
.more:hover  { font-weight: bold}
.nav         { text-align: center; }
.nav a       { font-style: italic; }
.backnav     { float: right; color: #444; font-style: italic;
               margin: 5px 0 0 0; font-size: 0.9em; }
.message     { background: #DEEBF3; color: #004B6B; padding: 5px 30px;
               margin: 10px -30px; }
.actions     { margin-top: 0; }
.twitter:before { background: no-repeat; content: " ";
                  float: right; width: 64px; height: 64px;
                  margin: -25px 0 0 0; padding: 0 0 10px 10px; }
.twitter li  { margin: 15px 0; line-height: 1.2; font-size: 15px; }
.twitter li:before { content: "♯"; padding-left: 4px; }
.twitter .meta, .twitter .meta a { color: #888; font-size: 13px; }
table        { border: 1px solid black; border-collapse: collapse;
               margin: 15px 0; }
td, th       { border: 1px solid black; padding: 4px 10px;
               text-align: left; }
th           { background: #eee; font-weight: normal; }

td input     { border: none; padding: 0; }

table.archives, .archives td, .archives th {border: none;}

/*Navigation*/
div.navigation a   { text-decoration: none;  font-size: 20px; padding: 10px;}
div.navigation ol  { margin: 0; padding: 0;}
div.navigation li  { display: inline; padding: 0; content:none;}
div.navigation {
                float: left; background-color: #f4f4f4;
                padding-top:0;
                text-align: center;
                position: fixed;
                top: 0;
                left: 0;
                z-index: 999;
                width: 100%;
                height: 26px;
              }

.current a{color: #666}
/* social */
.social      {margin:10px 0 10px 0; font-size: 40px; text-align: center;}
.social a    {margin: 10px 20px 5px 20px; color: #777; text-decoration: none;
              -webkit-transition: color 0.5s linear;
              -moz-transition: color 0.5s linear;
              -o-transition: color 0.5s linear;
              -ms-transition: color 0.5s linear;
              transition: color 0.5s linear}
.social a:hover {color: #004B6B;}

/*posts*/
.posts ol, .posts ul, .posts li  {list-style-type: none; padding: 0;}
.posts li {padding-bottom: 30px;}
.post { padding-top: 20px; }
.post a {text-decoration: none;}
.post-info {  float: right; margin: 25px 50px auto; }
.post-info,.post-summary abbr {font-size: 15px; color: #555;}
article .archive{margin-top: 10px; margin-bottom: 10px;}

.entry-content{margin-top: 20px; margin-bottom: 40px;}

h1.archive-entry-title,
h1.archive-entry-title a,
h1.entry-title {
    color: #222;
    font-family: 'Fontin', serif;
    font-weight: normal;
    text-decoration: none;
}

h1.archive-entry-title,
h1.archive-entry-title a { font-size: 40px; }
h1.entry-title{ display: inline-block; font-size: 50px;}

h1.archive-entry-title {
	margin: 10px 0px 0px 0px !important;
	height: auto;
}

.entry-content h2{margin: 40px 0 5px 0; color: #004B6B;}

/* Inset, by Dan Eden */
hr { border: 0; height: 0; border-top: 1px solid rgba(0, 0, 0, 0.1);
              border-bottom: 1px solid rgba(255, 255, 255, 0.3); }

/* For align center */
.align-center { display: block;
                margin-left: auto;
                margin-right: auto}

.rotate:hover {
            transform: rotate(10deg);
            -moz-transform: rotate(10deg);
            -webkit-transform: rotate(10deg);
            -o-transform: rotate(10deg);
            -ms-transform: rotate(10deg);
            -khtml-transform: rotate(10deg);
            transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -webkit-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            -khtml-transition: all 0.5s ease;
}
