{% extends "base.html" %}

{% block content %}
<section id="content" class="body">
  <header class="post">
    <h1 class="entry-title">
      {{ article.title }}
    </h1>
    <footer class="post-info"><abbr>
        Publicado el <b>{{ article.locale_date }}</b>
        {% if article.author %}
        por <b><a class="url fn" href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a></b>
        {% endif %}
    </footer>
  </header>
  <div class="entry-content">
    {{ article.content }}
  </div><!-- /.entry-content -->
{% include 'disqus.html' %}
</section>
{% endblock %}
