<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
        {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>

	{% for font in GOOGLE_FONTS | default(['Ribeye Marrow']) %}
		{% set url = font.split() | join('+') %}
		<link href='http://fonts.googleapis.com/css?family={{ url }}' rel='stylesheet' type='text/css' />
	{% endfor %}

        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/{{ CSS_FILE }}" type="text/css" />
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/pygments.css" type="text/css" />
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/font-awesome.css" type="text/css" />
	 <link rel="stylesheet" href="{{ SITEURL }}/theme/css/font-fontin.css" type="text/css" />
        <meta charset="utf-8" />

        {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
        <script src="{{ SITEURL }}/theme/js/main.js"></script>
	{% endblock head %}
</head>

<body id="index" class="home">
    {% block navigation %}
     <div class="navigation">
        <ol class="nav">
          <li><a href="{{ SITEURL }}">Blog</a> </li>
  	  {% if DISPLAY_PAGES_ON_MENU %}
              {% for p in PAGES %}
                  <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
              {% endfor %}
          {% endif %}
	  {% for name, url in MENUITEMS | default([('Archive', 'archives.html'), ('Tags', 'tags.html')]) %}
	      <li><a href="{{ SITEURL }}/{{ url }}">{{ name }}</a></li>
	  {% endfor %}
	  {% if FEED_RSS %}
          <li><a href="{{ SITEURL }}/{{ FEED_RSS }}">RSS</a> </li>
	  {% endif %}
        </ol>
      </div>
    {% endblock navigation %}

        <header id="banner" class="body">
                <div class="banner">
			<a href="{{ SITEURL }}">{{ SITENAME }} <strong>{{ SITESUBTITLE }}</strong></a>
			{% if USER_LOGO %}<img class="rotate" src="{{ SITEURL }}/images/{{ USER_LOGO }}"/>{% endif %}
		</div>
        </header>
        <div class="box">
	    <hr />
            {% block content %}
            {% endblock %}
            <hr/>
            <footer id="contentinfo" class="footer">
                <div>
                    <a href="{{SITEURL}}">{{AUTHOR}}</a> (2017)
                </div>
                <div>
                    This work is licensed under <a rel="license" href="http://opensource.org/licenses/bsd-3-clause">3 clause BSD</a>. Source code available on <a rel="source code" href="https://github.com/pwaqo/iris">Github</a>
                </div>
                <div>
                    powered by <a href="http://getpelican.com/">Pelican</a>
                    and <a href="http://python.org">Python</a>.
                    <a href="http://github.com/pwaqo/pupil">Pupil Theme</a> by <a href="http://github.com/pwaqo">Ricardo Ruiz</a> based on <a href="http://github.com/slok/iris">Iris theme</a> by <a href="http://http://xlarrakoetxea.org">Xabier Larrakoetxea</a>
                </div>
                <div>
                    Social icons (font awesome) by <a href="http://fortawesome.github.com/Font-Awesome/"> fort awesome</a>.
                    <a href="http://www.google.com/webfonts/specimen/Ribeye+Marrow">Title</a>, <a href="http://www.exljbris.com/fontin.html">Headers and Body</a>
                </div>
                <div class="social">
                    {% for name, link in SOCIAL %}
                        <a href="{{ link }}"><i class="icon-{{ name }}"></i>  </a>
                    {% endfor %}
                    {% if EMAIL%}
                        <a href="mailto:{{ EMAIL }}"><i class="icon-envelope"></i> </a>
                    {% endif %}
                </div>
            </footer>
        </div>
        {% include 'analytics.html' %}
</body>
</html>
